---

interface Props {
  descLabel: string;
  actionLabel: string;
  actionInfo: string;
}

const { descLabel, actionLabel, actionInfo } = Astro.props;
---
<div id="actionChip" class="flex justify-center py-8">
<span class="motion-reduce:animate-pulse w-fit rounded-full px-2 py-1 cursor-pointer text-xs text-center font-medium leading-5 text-slate-600 backdrop-blur-xl dark:bg-black dark:text-slate-200 ring-1 ring-slate-900 hover:ring-slate-900">
  <span>{descLabel}</span>
  <span class="px-2">✨</span>
  <span class="font-bold">{actionLabel}</span>  
  <span class="pl-px-4">→</span>
</span>
</div>

<script define:vars={{ actionInfo }}>
  const connectWithMe = () => {
    var subject = 'Frontend Developer';
    var emailBody = `Hi, I reached out to you through your Online Resume because I would like to discuss further a job opportunity.`;
    window.open(`mailto:${actionInfo}?subject=${subject}&body=${emailBody}`);
  }

  const actionElem = document.getElementById('actionChip');
  actionElem?.addEventListener('click', () => connectWithMe())
</script>
  